.lol-main-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--gold-six);
    box-shadow: 1px 1px 1px black;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    padding-left: 4px;


    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    width: 185px;
    height: 44px;
    background-color: var(--blue-five);
    cursor: default;
    border-color: var(--gold-seven);

}

.lol-main-button__logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    height: 40px;
    width: 40px;
    clip-path: circle(50% at 50% 50%);
    z-index: 2;
    background: linear-gradient(to bottom, var(--gold-two), var(--gold-two), var(--gold-four), var(--gold-four), var(--gold-four));
}
.lol-main-button__logo{
  width: 37px;
  height: 37px;
  /* Replace the linear-gradient with a repeating gradient for wave effect */
  background-image: repeating-linear-gradient(
    50deg,
    #006477 0px,
    #089db3 10px,
    #09c2cc 0%,
    #025e6d 0%,
    #089db3 22px,
    #006477 30px
  );
  background-size: 200% 200%; /* Larger size for smooth animation */
  border: 3px solid rgba(25, 0, 0, 1.0);
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  color: #efe5d1;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);
  transition: filter 0.1s;
  animation: wave 3s linear infinite; /* Animate the wave effect */
}

/* Wave animation */
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%; /* Shift background to create wave motion */
  }
}


.lol-main-button__action-box{
    position: absolute;
    border-left: 0px;
    background-color: #0d141c;
    width: 80.5%;
    height: 81%;
    align-content: center;

    border: 3px solid #092f3a;
    background-color: #0d141c;
    border-left: 0;
    width: 75%;
    height: 85%;
    left: unset;
    right: 2.5%; 

}


.lol-main-button__action-border{
    margin-top: -2px;
    position: relative;
    background: linear-gradient(to bottom, #08b4b1, #016587);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 80% 0%, 88% 50%, 80% 100%, 0% 100%);

    width: 115%;
    height: 112%;
    margin-top: -2px;
    clip-path: polygon(0% 0%, 78% 0%, 88% 50%, 78% 100%, 0% 100%);
}

.lol-main-button__action-border:hover{
    background: linear-gradient(to bottom, #94ebe5, #0cbbad, #1ea2bf);
}

/* Estilo base del botón */
.lol-main-button__action {
    color: #efe5d1;
    clip-path: polygon(0% 0%, 80% 0%, 87.4% 50%, 80% 100%, 0% 100%);
    padding-right: 35px;
    padding-bottom: 3px;
    font-family: 'Bold'; /* Fuente oficial de LoL */
    font-size: 1rem; /* Tamaño de fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    cursor: pointer; /* Cursor de puntero */
    position: relative;
    overflow: hidden;
    /* background-color: rgba(203, 25, 25 , 0.15); */
    background-color: #1e2328;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;

     height: 88%;
    width: 97%;
    padding-right: 25px;
    clip-path: polygon(0% 0%, 78% 0%, 87.4% 50%, 78% 100%, 0% 100%);

}
.lol-main-button__action::after {
    content: '';
    position: absolute;
    right: -20px; /* Ajusta la posición del triángulo */
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20px solid transparent; /* Tamaño del triángulo */
    border-bottom: 20px solid transparent;
    border-left: 20px solid #4CAF50; /* Color del triángulo */

}

/* Efecto de brillo al pasar el mouse */
.lol-main-button__action::before {
    content: '';
    position: absolute;
    clip-path: ellipse(50% 125% at 50% 50%);
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #08b4b1, #016587);
    left: -46.5%;
    top: -1px;

    left: -43%;
    clip-path: ellipse(50% 100% at 50% 50%);
}


/* Efecto hover */
.lol-main-button__action:hover {
    /*background-color: #2d2d2d; /* Fondo más claro */
    box-shadow: 0 0 10px rgba(200, 170, 110, 0.8); /* Sombra dorada */
    /*#f0e6d2; /* Texto más claro */
    /*background-color: rgba(255, 200, 0, 0.1);*/
    background: linear-gradient(to bottom, #1c272e, #113a4e);
}


/* Efecto al hacer clic */
.lol-main-button__action:active {
    background-color: black!important; /* Fondo oscuro */
    border-color: gray;
}

/* Texto del botón */
.play-button-text {
    position: relative;
    z-index: 1; /* Asegura que el texto esté por encima del efecto de brillo */
}

.header-circunferense{
    position: absolute;
    background-color: rgba(20, 0, 0, 1.0);
    z-index: 1;
    width: 39px;
    clip-path: ellipse(35% 50% at 50% 50%);

    left: -23px;
    height: 102%;

}

/*-----------------BUTTON SELECTED STYLES-----------------*/

.lol-main-button__action-box.selected{
    border-color: rgba(80, 80, 80, 1);
}
.lol-main-button__action-border.selected{
    margin-top: 0px;
    background: linear-gradient(to bottom, rgba(200, 50, 50, 1.0), rgba(150, 0, 0, 1.0));
    height: 100%;
    width: 100%/*234px*/;
    clip-path: unset;
    background: none;
}
.lol-main-button__action.selected{
    clip-path: unset;
    color: rgba(60, 60, 60, 1.0);
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
    height: 100%;
    padding-right: 0px;
    cursor: default;
}
.lol-main-button__action.selected:hover{
    box-shadow: unset;
    background: rgba(30, 30, 30, 1.0);
}
.lol-main-button__action.selected::before{
    background: rgba(80, 80, 80, 1);
    left: -41%;
    top: 0px;
}
.header-circunferense.selected{
    
}

@media (max-width: 767px) {
    .lol-main-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid var(--gold-six);
        box-shadow: 1px 1px 1px black;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        position: relative;
        padding-left: 4px;


        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        height: 42px;
        background-color: var(--blue-five);
        cursor: default;
        border-color: var(--gold-seven);
        width: 140px;
    }
    .lol-main-button__logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
    height: 35px;
    width: 35px;
    clip-path: circle(50% at 50% 50%);
    z-index: 2;
    background: linear-gradient(to bottom, var(--gold-two), var(--gold-two), var(--gold-four), var(--gold-four), var(--gold-four));
}
.lol-main-button__logo{
  width: 32px;
  height: 32px;
  /* Replace the linear-gradient with a repeating gradient for wave effect */
  background-image: repeating-linear-gradient(
    50deg,
    #006477 0px,
    #089db3 10px,
    #09c2cc 0%,
    #025e6d 0%,
    #089db3 22px,
    #006477 30px
  );
  background-size: 200% 200%; /* Larger size for smooth animation */
  border: 3px solid rgba(25, 0, 0, 1.0);
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  color: #efe5d1;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: brightness(1.2);
  transition: filter 0.1s;
  animation: wave 3s linear infinite; /* Animate the wave effect */
}

/* Wave animation */
@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%; /* Shift background to create wave motion */
  }
}


.lol-main-button__action-box{
    position: absolute;
    align-content: center;

    border: 3px solid #092f3a;
    background-color: #0d141c;
    border-left: 0;
    width: 73%;
    height: 85%;
    left: unset;
    right: 2.5%; 

}


.lol-main-button__action-border{
    margin-top: -2px;
    position: relative;
    background: linear-gradient(to bottom, #08b4b1, #016587);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 0%, 80% 0%, 88% 50%, 80% 100%, 0% 100%);

    width: 115%;
    height: 112%;
    margin-top: -2px;
    clip-path: polygon(0% 0%, 78% 0%, 88% 50%, 78% 100%, 0% 100%);
}

.lol-main-button__action-border:hover{
    background: linear-gradient(to bottom, #94ebe5, #0cbbad, #1ea2bf);
}

/* Estilo base del botón */
.lol-main-button__action {
    color: #efe5d1;
    clip-path: polygon(0% 0%, 80% 0%, 87.4% 50%, 80% 100%, 0% 100%);
    padding-right: 35px;
    padding-bottom: 0px;
    font-family: 'Bold'; /* Fuente oficial de LoL */
    font-size: 0.71rem; /* Tamaño de fuente */
    text-transform: uppercase; /* Texto en mayúsculas */
    cursor: pointer; /* Cursor de puntero */
    position: relative;
    overflow: hidden;
    /* background-color: rgba(203, 25, 25 , 0.15); */
    background-color: #1e2328;
    cursor: pointer;
    text-align: center;
    align-content: center;
    align-items: center;

     height: 88%;
    width: 97%;
    padding-right: 25px;
    clip-path: polygon(0% 0%, 78% 0%, 87.4% 50%, 78% 100%, 0% 100%);

}
.lol-main-button__action::after {
    content: '';
    position: absolute;
    right: -20px; /* Ajusta la posición del triángulo */
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 20px solid transparent; /* Tamaño del triángulo */
    border-bottom: 20px solid transparent;
    border-left: 20px solid #4CAF50; /* Color del triángulo */

}

/* Efecto de brillo al pasar el mouse */
.lol-main-button__action::before {
    content: '';
    position: absolute;
    clip-path: ellipse(50% 125% at 50% 50%);
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #08b4b1, #016587);
    left: -46.5%;
    top: -1px;

    left: -43%;
    clip-path: ellipse(50% 100% at 50% 50%);
}


/* Efecto hover */
.lol-main-button__action:hover {
    /*background-color: #2d2d2d; /* Fondo más claro */
    box-shadow: 0 0 10px rgba(200, 170, 110, 0.8); /* Sombra dorada */
    /*#f0e6d2; /* Texto más claro */
    /*background-color: rgba(255, 200, 0, 0.1);*/
    background: linear-gradient(to bottom, #1c272e, #113a4e);
}


/* Efecto al hacer clic */
.lol-main-button__action:active {
    background-color: black!important; /* Fondo oscuro */
    border-color: gray;
}

/* Texto del botón */
.play-button-text {
    position: relative;
    z-index: 1; /* Asegura que el texto esté por encima del efecto de brillo */
}

.header-circunferense{
    position: absolute;
    background-color: rgba(20, 0, 0, 1.0);
    z-index: 1;
    width: 39px;
    clip-path: ellipse(29% 50% at 50% 50%);

    left: -23px;
    height: 100%;

}

}