
.Pokedex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    height: 80.6vh;
    padding-left: 2.5vw;
    padding-right: 0.3vw;
    margin-top: 4vh;
    width: 100%;
}
.champion-section h1{
    font-family: Bold;
    color: var(--color-secundary);
    line-height: 1;
    font-size: 1.3rem;
    letter-spacing: 1px;
}
.maestry-etern-levels-container {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    align-content: end;
    width: 98%;
}
.maestry-etern-levels {
    position: absolute;
    height: 100%;
    width: 99%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 10%;
}
.amount-and-description{
    white-space: wrap;
    width: 70%;
    height: 45%;
}
.description{
    font-size: 0.83rem;
    color: gray;
    font-weight: 500;
    font-family: Bold;
    line-height: 1.2;
}
.amount{
    width: 100%;
    font-size: 2.6rem;
    color: var(--gold-two);
    font-family: Bold;
    letter-spacing: 2px;
    display: inline-block;
    height: 5vh;
    line-height: 1;
    background: linear-gradient(var(--gold-two), var(--gold-two), var(--gold-five));
    color: transparent;
    background-clip: text;
}
.hextech-border{
    width: 98%;
}
.cls-1 {
        fill: none;
        stroke: var(--gold-six);
        stroke-miterlimit: 10;
        stroke-width: 3px;
      }
.cls-1.resalted {
    stroke: var(--gold-five);
}




.grid-pokemon-container {
    overflow: auto;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 0.3vw;
    padding-right: 2vw;
}
/*
.grid-pokemon-container::-webkit-scrollbar {
  width: 0.5vw; 
  height: 1vh; 
  display: inline-block;
}

.grid-pokemon-container::-webkit-scrollbar-track {
  background: transparent; 
}

.grid-pokemon-container::-webkit-scrollbar-thumb {
  background: var(--gold-five); 
  border-radius: 5px;
}

.grid-pokemon-container::-webkit-scrollbar-thumb:hover {
  background: var(--gold-two); 
}
*/
.grid-pokemon-container button{
    height: 0px;
    width: 0px;
    opacity: 0;
}

main{ 
    display: grid;
    grid-column-gap: 1.4vw;
    grid-template-columns: repeat(auto-fill, minmax(9.1vw,1fr));
    width: 100%;
}

option{
    background-color: rgba(20, 0, 0, 0)!important;
}
select{
    background-color: rgb(20, 0, 0)!important;
    width: 100%;
    appearance: none;
}


input{
    background-color: rgba(0, 0, 0, 0.1);
    border: 0px;
    color: lightgray;
}
input:focus{
    outline: none;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.Pokedex .filter-nav{
    display: flex;
    flex-direction: column;
    width: 15.2vw;
    min-width: 15.2vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0px;
    margin-right: 3.2vw;
    white-space: nowrap;
}
.right-place{
    display: flex;
    flex-direction: column;
}
.search-filter, .checkbox{
    font-size: 0.78rem;
    background: linear-gradient(transparent,rgba(35, 15, 15, 1.0));
    border: 1px solid #c8aa6e;
    height: 4.4vh;
    margin-top: 0px;
    margin-bottom: 12px;
    padding-left: 10px;
    color: #A09B8C;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-image: linear-gradient(to bottom, #C8AA6E, #C8AA6E, #785A28) 1;
    font-family: "Spiegel-Regular";
}

.Pokedex .search-filter{
    background: black;
    border-image: linear-gradient(#785A28, var(--gold-five)) 1!important;
    margin-top: 20px;
    width: 100%;
    height: 4.1vh;
    margin-bottom: 0px;
}
.search-filter input{
    width: 100%;
}

.search-icon{
    color: #fafafa;
    margin-right: 10px;
}

.first{
    padding-top: 0;
}
.last{
    border-bottom: 0;
}

.checkbox:hover{
    color: var(--gold-one);
    background-color: rgba(255, 255, 255, 0.15);
}

.checkbox{
    background: 0;
    border: 0;
    margin: 0px;
    padding: 0;
    height: 5.6vh;
    font-size: 0.8rem;
}

.custom-checkbox{
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid var(--gold-six);
    margin-right: 10px;
    width: 14px;
    height: 14px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-icon{
    color: var(--gold-two);
    font-size: 14px;
}

@media (max-width: 767px){
    .Pokedex{
        height: 82.2vh;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        padding-top: 0px;
        margin-top: 0px;
        flex-direction: column;
    }
    .grid-pokemon-container{
        width: 100%;
        margin-top: 2vh;
        align-self: center;
        padding: 0px;
    }
    .maestry-etern-levels-container {
        width: 45vw;
    }
    main{ 
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3vw;
        padding: 0px 10px;
        width: 100%;
    }
    .champion-section h1{
        line-height: 1;
        font-size: 0.8rem;
        letter-spacing: 1px;
        padding-left: 3.5vw;
        margin-bottom: 3vh;
        padding-top: 1vh;
    }
    .description{
        font-size: 0.65rem;
        color: gray;
        font-weight: 500;
        font-family: Bold;
        line-height: 1.3;
    }
    .amount{
        width: 100%;
        font-size: 2rem;
        color: var(--gold-two);
        font-family: Bold;
        letter-spacing: 2px;
        display: inline-block;
        height: 5vh;
        line-height: 1;
        background: linear-gradient(var(--gold-two), var(--gold-two), var(--gold-five));
        color: transparent;
        background-clip: text;
    }
    .Pokedex .filter-nav{
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 2vh;
    }
    .Pokedex .left-place{
        margin-right: 1vw;
    }
    .Pokedex .right-place{
        padding-top: 0.5vh;
    }
    .Pokedex .search-filter{
        margin-top: 0px;
        font-size: 0.7rem;
    }
    .Pokedex .checkbox{
        font-size: 0.6rem;
        height: 5vh;
    }
    .custom-checkbox{
        margin-right: 5px;
        width: 12px;
        height: 12px;
    }
}

