.pvp-pokemon-selection{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
} 
.pvp-pokemon-selection .pokemon-list-container{
  height: 50%;
  width: 80%;
}

.ready-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  place-items: center;
  width: 45%;
  height: 30%;
}
.pokemon-view {
  width: 17%;
}
.pokemon-view img{
     width: 90%;
}

.pokemon-one{
  display: flex;
  flex-direction: row;
  width: 90%;
}
.ready-button{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
  background-color: darkred;
  border: solid 1px red;
  border-radius: 10px;
  opacity: 0.95;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
}
.ready-button:hover{
  opacity:1;
}

@media (max-width: 767px){
  .pokemon-selection{
    flex-direction: column!important;
    padding-top: 1vh;
    margin: 0px;
  }
  .pvp-pokemon-selection .pokemon-list-container{
    height: 50%;
    width: 80%;
  }
  .ready-section{
    width: 100%;
    height:  30%;
  }
}
