.skin-tooltip {
	background: var(--blue-six);
	width: 23vw;
	border: 2px solid;
	border-image: linear-gradient(to bottom, var(--gold-six), var(--gold-five)) 1;
	padding: 1vw 1.5vw;
	z-index: 5;
}
.tooltip-header {
	width: 100%;
	padding-top: 0.5vh;
	padding-bottom: 2vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid var(--gold-five);
	position: relative;
	justify-content: center;
}
.tooltip-skin-name {
	font-size: 1rem;
	color: var(--color-secundary);
	font-family: 'Bold';
	text-transform: uppercase;
	text-align: center;
	width: 85%;
	line-height: 1.1;
}
.tooltip-rarity-icon {
	width: 17px;
	position: absolute;
	left: 0;
}
.purchase-date-chroma-section {
	width: 100%;
	color: var(--gold-four);
	font-size: 0.75rem;
	display: flex;
	align-items: center;
	align-content: center;
	text-align: center;
	justify-content: center;
	height: 6vh;
	padding-top: 1vh;
	position: relative;
}
.chroma-icon {
	width: 28px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.purchase-date-chroma-section .rp-icon{
	width: 21px;
	height: 21px;
}
.rp-price {
	font-size: 0.8rem;
}