* {
  box-sizing: border-box;
}
:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(1, 10, 19);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  height: 100%;
  width: 100%;
  user-select: none;
}
#root{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

::-webkit-scrollbar{
  /*overflow: hidden;
  display: none;*/
}


:root {
  --color-primary: #CDBE91;
  --color-secundary: #F0E6D2;
  --gold-one: #F0E6D2;
  --gold-two: #C8AA6E;
  --gold-three: #C8AA6E;
  --gold-four: #C89B3C;
  --gold-five: #785A28;
  --gold-six: #463714;
  --gold-seven: #32281E;
  --blue-four: #0f171f;
  --blue-five: #010a13;
  --blue-six: #1e2328;
  --grey-three: #918e80;
  
  /* Dashboard Layout Variables */
  /* 
   * Para cambiar el layout del dashboard, modifica estas variables:
   * - --dashboard-header-height: altura del header
   * - --dashboard-sidebar-width: ancho del sidebar derecho
   * - --dashboard-content-height: altura del contenido (se calcula automáticamente)
   * - --dashboard-content-width: ancho del contenido (se calcula automáticamente)
   * 
   * Ejemplo: Para hacer el sidebar más ancho:
   * --dashboard-sidebar-width: 20vw;
   * 
   * Ejemplo: Para hacer el header más alto:
   * --dashboard-header-height: 15vh;
   */
  --dashboard-header-height: 11.4vh;
  --dashboard-sidebar-width: 17.4vw;
  --dashboard-content-height: calc(100vh - var(--dashboard-header-height));
  --dashboard-content-width: calc(100vw - var(--dashboard-sidebar-width));

  --dashboard-header-height-mobile: 11.4vh;
  --dashboard-sidebar-width-mobile: 17.4vw;
  --dashboard-content-height-mobile: calc(100vh - var(--dashboard-header-height-mobile));
  --dashboard-content-width-mobile: calc(100vw - var(--dashboard-sidebar-width-mobile));
}


h3, h2, h1, h4, h5, h6 {
  margin: 0;
}

span {
  font-size: 15px;
  font-family: Spiegel-Regular;
  color: #A09B8C;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.general-button {
  position: relative;
    height: 4.4vh;
    width: 11.2vw;
    margin: 0px;
    font-size: 0.9rem;
    border: 2px solid gray;
    border-image: linear-gradient(to bottom, var(--gold-two), var(--gold-two), var(--gold-five)) 1;
    /*background: linear-gradient(to bottom, rgb(40, 30, 30), rgb(40, 30, 30) , rgb(40, 30, 30) , rgb(40, 30, 30));*/
    background: var(--blue-six);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--color-primary);
    font-family: Bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.general-button:hover {
  border-image: linear-gradient(to bottom, var(--gold-one), var(--gold-four)) 1;
  color: var(--gold-one);
  background: linear-gradient(to bottom, var(--blue-six) 40%, rgb(69, 63, 44) 100%);

}

.disabled:hover {
  border: 2px solid gray;
  background: var(--blue-six);
  color: gray;
}

.disabled {
  border: 2px solid gray;
  color: gray;
  cursor: default;
}

@font-face {
  font-family: Bold;
  src: url('/fonts/BeaufortforLOL-Bold.ttf');
  font-weight: normal;
  font-style: normal;
  font-size: 40pt;
  letter-spacing: 50px; /* Aproximación al seguimiento */
  text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Bolditalic;
  src: url('/fonts/BeaufortforLOL-Bolditalic.ttf');
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Heavy;
  src: url('/fonts/BeaufortforLOL-Heavy.ttf') ;
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Heavyitalic;
  src: url('/fonts/BeaufortforLOL-Heavyitalic.ttf') ;
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Italic;
  src: url('/fonts/BeaufortforLOL-italic.ttf') ;
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Light;
  src: url('/fonts/BeaufortforLOL-Light.ttf') ;
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Lightitalic;
  src: url('/fonts/BeaufortforLOL-Lightitalic.ttf') ;
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Medium;
  src: url('/fonts/BeaufortforLOL-Medium.ttf') ;
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Mediumitalic;
  src: url('/fonts/BeaufortforLOL-Mediumitalic.ttf');
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face {
  font-family: Regular;
  src: url('/fonts/BeaufortforLOL-Regular.ttf') ;
  font-weight: normal;
  font-style: normal;
  /*font-size: 40pt;
  /*letter-spacing: 50px; /* Aproximación al seguimiento */
  /*text-indent: 42px; /* Aproximación al "al frente" */  
}

@font-face{
    font-family: Spiegel-Boldtalic;
    src: url('/fonts/Spiegel-Regularitalic.otf');
}

@font-face{
    font-family: Spiegel-Regular-Soft;
    src: url('/fonts/Spiegel_Regular_Soft.woff2');
}

@font-face{
    font-family: Spiegel-Bold;
    src: url('/fonts/Spiegel_Bold.woff2');
}
@font-face{
    font-family: Spiegel-Regular;
    src: url('/fonts/Spiegel_Regular.woff2');
}

@font-face{
    font-family: Spiegel-Bold-Italic;
    src: url('/fonts/Spiegel_Bold_Italic.woff2');
}

@font-face{
    font-family: Spiegel-Regular-Italic;
    src: url('/fonts/Spiegel_Regular_Italic.woff2');
}
/*@media (prefers-color-scheme: light) {
  :root {
    //color: #213547;
    background-color: #ffffff;
  }
  a:hover {
   //color: #747bff;
  }
  button {
    //background-color: #f9f9f9;
  }
}*/


@font-face{
    font-family: Spiegel-SemiBold;
    src: url('/fonts/Spiegel-OTF/Spiegel-SemiBold.otf');
}


::-webkit-scrollbar {
  width: 0.45vw; 
  height: 1vh; 
  display: inline-block;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: var(--gold-five); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gold-two); 
}

@media (max-width: 767px){
  :root{
    --dashboard-header-height: 11.4vh;
    --dashboard-sidebar-width: 0vw!important;
    --dashboard-content-height: 100vh!important;
    --dashboard-content-width: 100vw!important;
  }
  .general-button {
    position: relative;
      height: 4vh;
      width: 26vw;
      margin: 0px;
      font-size: 0.6rem;
      line-height: 1;
      border: 2px solid gray;
  }
}
