.pokemon-card{
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    height: 100%;
    width: 100%; 
    min-height: 26vh;
    border: 1px solid rgba(70, 70, 70);
    padding: 1px;
}
.card-name{
    margin-top: 0px;
    margin: 0px;
    color: var(--gold-one);
    font-size: 0.9rem;
    height: auto;
}

.pokemon{
    object-fit: cover;
    transition: all 0.2s;
    background-color: rgba(0, 0, 0, 1.0);
    width: 100%;
    height: 100%;
    padding: 0px;
    filter: brightness(0.8);
    transition: all 0.2s;
}

.pokemon-card:hover .pokemon {
    filter: brightness(1);

}
.pokemon-card:hover {
    border-image: linear-gradient(to bottom, #F0E6D2, #C8AA6E, var(--gold-four)) 1;
}
img[src=".undefinedshield.png"] {
        display: none;
    }

.types{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.types{
    margin-bottom: 15px;
}
.types img{
    width: 75px;
    margin-left: 5px;
}
.info p{
    height: 100px!important;
    overflow: hidden;
}

.product-info{
    bottom: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0.8vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 20%);
    line-height: 1.1;
}

.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.8vh;
    justify-content: space-around;
    width: 75%;
    font-family: 'Spiegel-Regular';
}
.essences-price, .rp-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.price-number{
    margin-left: 3px;
    color: var(--gold-two);
    font-size: 0.8rem;
}


.unlock-icon-box {
    display: none;
    position: absolute;
    height: 3vw;
    width: 3vw;
    background-image: linear-gradient(320deg, rgba(226, 193, 92, 0.4), rgba(226, 193, 92, 0.05));
    align-self: center;
    justify-self: center;
    top: 38%;
    transform: rotate(45deg);
    border: 2px solid;
    border-image: linear-gradient(120deg, var(--gold-one), var(--gold-five))1;
}
.unlock-product-icon {
    transform: rotate(315deg);
    color: var(--gold-four);
    align-self: center;
    place-self: center;
    margin-top: 0.6vw;
    font-size: 1.5rem;
    display: none;
}

.pokemon-card:hover .unlock-icon-box {
    display: block;
}
@media (max-width: 767px){
    .pokemon-card{

        min-height: 16vh;

    }
    .card-name{
        font-size: 0.7rem;
        font-family: 'SemiBold';
    }
    .pokemon-shop .pokemon-card .title{
        font-size: 10px;
    }
    .price{
        width: 80%;
        margin-top: 3px;
    }
    .essences-price, .rp-price{
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: flex-start;
        width: 45%;
    }
    .essences-price .price-number{
        margin-left: 1px;
    }
    .price-number{
        margin-left: 5px;
        font-size: 0.6rem;
    }
}