
.index{
	background-image: green;
  	font-family: 'Bold', sans-serif; /* Fuente moderna */
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
	color: lightgray;
	/*padding-top: 11.5vh;
	padding-right: 300px;*/
	display: flex;
	align-items: center;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.item{
	height: 100%;
	width: 90px;
	align-content: center;
	text-align: center;
   	cursor: pointer;
   	font-size: 12px;
   	color: var(--color-primary);
   	transition: all 0.1s;
}
.item:hover{
	color: var(--color-secundary);
}

.inicio{
	background-image: url("/fiora_51.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
}

.custom-menu {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: rgba(20, 0, 0, 1);
	height: 80px;
	width: 200px;
	border: 1px solid rgba(150, 0, 0, 0.3);
}
.custom-menu h5 {
	margin: 0;
	border: 0px;
	height: 50%;
	align-content: center;
}
.custom-menu h5:hover{
	background-color: rgba(40, 0, 0, 1); 
}
.custom-menu .blocked{
	opacity: 0.3;
	cursor: default;
}
.custom-menu .blocked:hover{
	background-color: rgba(20, 0, 0, 1);
}
.loading {
	margin: auto;
}
.loadingScreen{
	position: absolute;
	right: 50vw;
	top: 50vh;
}
.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;

   transform: translate(-50%, -50%);

}
.pokeball {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50% ;
  position: relative;
  overflow: hidden;
  border: 3px solid black;
  animation: frames .8s  linear 0s infinite;
}

.pokeball:after{
  content: '';
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: red;
  border-bottom: 4px solid black;
  top: -4px
}

.pokeball:before{
  content: '';
  position: absolute;
  background-color: #fff;
  width: 10px;
  height:10px;
  border: 4px solid;
  border-color: black;
  border-radius: 50%;
  bottom: 18px;
  right: 18px;
  z-index: 1;
}

/* AnimationFrames */
@keyframes frames{
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
	
  .index{
  	padding: 0px;
  	padding-top: 11.3vh;
  }
  .inicio{
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position-x: 60%;
  }

}

@media (min-width: 768px) and (max-width: /*991px*/1200px) {
	.index{
		padding-right: 0px;
	}
}