.mode-selection{
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
	width: 100%;
	background-color: var(--blue-five);
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	padding-bottom: 2vh;
	padding-right: 3vw;
	padding-left: 3vw;
	position: relative;
}
.mode-selection-header{
	display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 1vh;
    position: absolute;
    top: 0;
    padding-left: 3vw;
}
.subheader-item{
    position: relative;
    transition: all 1s;
    height: 24px;
    padding-left: 1vw;
    padding-right: 1vw;
    align-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 0.84rem;
    letter-spacing: 1px;
    color: var(--color-primary);
    transition: all 0.1s;
    border-image: linear-gradient(to right, transparent, var(--color-primary), transparent) 1;
    font-family: 'Medium';}
.subheader-item:hover{
    color: var(--gold-one);
}
.active-subheader-item {
  color: #F0E6D2 
}

.active-subheader-item::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, #CDBE91, transparent);
  width: 90%;
  justify-self: center;
}

h1{
	font-size: 1.7rem;
	color: var(--gold-one);
	font-family: Bold;
}
.gamemode-icons{
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	height: 39%;
	width: 100%;
	padding-top: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.gamemode-icon{
	height: 100%;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.gamemode-icon img{
	width: 110px;
	margin-bottom: 15px;
}

.description-and-queques{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 38vh;
}

.gamemode-description{
	display: flex;
	padding-top: 2vh;
	padding-bottom: 2vh;
	width: 300px;
	border-bottom: 1px solid var(--gold-six);
	margin-bottom: 15px;
	font-family: 'Spiegel-Regular';
	color: var(--gold-one);
	line-height: 1.3;
}

.queue-option{
	display: flex;
	align-items: center;
	font-size: 16.5px;
	color: #C8BA8E;
	cursor: pointer;
	font-family: Medium;
	letter-spacing: 1px;
}
.queueOption:hover{
	color: var(--gold-one);
}
.queueOption:hover .custom-checkbox{
	border: 3px solid var(--gold-four);
}
.description-and-queques .custom-checkbox{
	transform: rotate(45deg);
	border: 3px solid var(--gold-five);
	height: 16px;
	width: 16px;
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.checkboxMark{
	height: 6px;
	width: 6px;
	background-color: white;
}
@media (max-width: 767px){
	.mode-selection{
		padding-left: 20px;
		padding-right: 20px;
	}
	.gamemode-description p{
		font-size: 0.65rem;
	}
	h1{
		font-size: 0.95rem;
	}
	.mode-subtitle{
		font-size: 0.85rem;
		color: white;
		font-family: 'SemiBold';
		line-height: 1.1;
	}
	.mode-selection-header{
		height: 8%/*50px*/;
		padding-left: 4vw;
	}
	.subheader-item{
		font-size: 0.6rem;
	}
	.gamemode-icon{
		height: 20vh;
	}
	.gamemode-icon img{
		width: 80px;
		margin-bottom: 7px;
	}
	.queue-option{
		font-size: 0.75rem;
	}
	.description-and-queques .custom-checkbox{
		transform: rotate(45deg);
		border: 3px solid var(--gold-five);
		height: 12px;
		width: 12px;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.checkboxMark{
		height: 4px;
		width: 4px;
	}
}