.mobile-header{
	width: 100%;
	height: 11.4vh;
	position: fixed;
	padding-left: 1.8vw;
	padding-right: calc(1.8vw + 4px);
	align-items: center;
	border-bottom: 1px solid rgba(200, 200, 200, 0.3);
  	border-top: 2px solid rgb(120, 90, 40);
	background-color: rgba(1, 10, 19, 0.9);
	display: flex;
	justify-content: space-between;
	position: fixed; top: 0px;
  	user-select: none;
  	z-index: 5;
  	transition: padding 0.3s;
}
.mobile-header-tabs {
	display: flex;
	width: 45%;
	justify-content: space-between;
}
.mobile-navigation-window {
	display: flex;
	position: fixed;
	top: 11.3vh;
	left: 0;
	width: 100%;
	height: 25vh;
	background-color: rgba(1, 10, 19, 0.9);
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	z-index: 100;
	padding-bottom: 1.5vh;
}
.mobile-header .item {
	width: auto;
}

@media (max-width: 767px) {
	.mobile-navigation-window  .item{
		width: 12vw;
		text-align: center;
		align-content: center;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}
	.mobile-navigation-window  .item svg{
		width: 19px;
	}
}