.explore-room{
	height: var(--dashboard-content-height);
	width: 100%;
	padding-bottom: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}


@media (max-width: 767px){

	.explore-room{
		height: var(--dashboard-content-height-mobile);
	}
}