.explore-room{
	height: 100%;
	width: 100%;
	padding-bottom: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
}


@media (max-width: 767px){


}