@keyframes reduction {
  from {
    scale: 0.8;
  }
  to {
    scale: 1;
  }
}
@keyframes destellodeluz {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes brightnes {
  from {
    filter: brightness(1.5);
  }
  to {
    filter: brightness(1);
  }
}
.index-header {
	width: 100%;
	height: 11.4vh;
	position: fixed;
	padding-left: 1.8vw;
	align-items: center;
	border-bottom: 1px solid rgba(200, 200, 200, 0.3);
  border-top: 2px solid rgb(120, 90, 40);
	background-color: rgba(1, 10, 19, 0.9);
	display: flex;
	justify-content: space-between;
	position: fixed; top: 0px;
	padding-right: 17.6vw;
  user-select: none;
  z-index: 5;
  transition: padding 0.3s;
}

.header-sections{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	flex-grow: 1;
  margin-right: 2.8vw;
}

.header-sections .item{
  width: 4vw;
	font-size: 1.3em;
	color: var(--color-primary);
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.item-lol {
  width: 4.2vw;
  font-size: 1rem;
  color: var(--color-primary);
  font-family: Bold;
  margin-left: 1.8vw;
  height: 100%;
  align-items: center;
  align-content: center;
  cursor: pointer;
  text-align: center;
}
.header-sections .item:hover, .item-lol:hover{
    background: linear-gradient(to bottom, rgb(9, 17, 30) 50%, rgb(47, 50, 52));
    color: #F0E6D2;
}
.header-sections .item:active, .item-lol:active{
    animation-name: brightnes;
    animation-duration: 0.5s;
}
.header-sections .item:active svg{
    animation-name: reduction;
    animation-duration: 0.5s;
    /*box-shadow: 0 0 30px 15px rgba(0, 255, 255, 0.7);*/
}
/*.item::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 70px;
      height: 70px;
      background: radial-gradient(circle, rgba(0,255,255,0.8) 0%, transparent 70%);
      transform: translate(-50%, -50%);
      filter: blur(10px);
      z-index: 0;
      opacity: 0;
}
.header-sections .item.glow::after {
    animation-name: destellodeluz;
    animation-duration: 1s;
}*/

.icon-separator {
  width: 2px;
  height: 75%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #CDBE91 , rgba(255, 255, 255, 0));/*background: linear-gradient(to bottom, rgba(255, 165, 0, 0), rgba(255, 165, 0, 1), rgba(255, 165, 0, 0));*/
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  /*animation: shimmer 1s infinite alternate;*/
}

.account-coins{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 8.9vw;
    margin-left: 30px;
    font-family: "Bold";
    font-size: 1rem;
    color: var(--gold-one);
    height: 100%;
}

.riot-points{
    width: 100%;
    border: 1px solid rgba(250, 250, 250, 0.3);
    border-radius: 20px;
    background-color: black;
    padding-left: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.9vh;
    margin-bottom: 3px;
    margin-top: 2vh;
}
.riot-points img {
  width: 17px;
  height: 17px;
}
.blue-essences img {
  width: 18px;
  height: 18px;
}
.blue-essences{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.RP{
    margin-left: 6px;
}

.BE{
    margin-left: 10px;
}

.header-buy-rp-button{
  position: relative;
  height: 19px;
  width: 19px;
  background-image: linear-gradient(to bottom, var(--gold-four), var(--gold-five));
  align-self: center;
  margin-left: auto;
  margin-right: 5px;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  clip-path: circle(50%);
  color: var(--color-primary);
  display: flex;
}
.header-buy-rp-button:hover {
  color: var(--color-secundary);
  background-image: linear-gradient(to bottom, var(--gold-one), var(--gold-four));

}
.header-buy-rp-button::after {
  position: absolute;
  left: 5%;
  top: 5%;
  content: '';
  height: 90%;
  width: 90%;
  background: var(--blue-six);
  clip-path: circle(50%);
  z-index: 0;
  align-self: center;
  justify-self: center;
  place-self: center;
}
.buy-rp-icon {
  position: absolute;
  z-index: 1;
  align-self: center;
  justify-self: center;
  place-self: center;
  line-height: 1;
  bottom: 17%;
  font-size: 0.85rem;
  font-weight: bold;

}
.logout-button {
    cursor: pointer;
    transition: all 0.3s ease;
}

.logout-button:hover {
    background: linear-gradient(transparent, #ff4444);
    color: #ff6666;
}

.logout-button:active {
    animation-name: brightnes;
    animation-duration: 0.5s;
}

@keyframes shimmer {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(0.5px);
  }
}

@media (max-width: 767px) {
  .index-header{
  	padding-left: 3vw;
    padding-right: 0;
  }
  .header-sections{
    margin-right: 0px;
    width: 50%;
  }
  .header-sections .item{
  	width: 12vw;
    font-size: 20px;
  }
  .account-coins{
    display: none;
  }
  .icon-separator {
    width: 1px;
    height: 65%;
  }

}

@media (min-width: 768px) and (max-width: /*991px*/1200px) {
  .index-header{
    padding-right: 0px;
  }
}