.pokemon-selection{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 2vh;
  height: auto;
  width: 90%;
  height: 85%;
}
.pokemon-selection .pokemon-list-container{
  width: 35%;
  height: 90%;
  align-items: center;
  overflow: scroll;
   border-bottom: 1px solid var(--gold-five); 
}
.pokemon-selection .ready-section{
  display: none;
}

.pokemon-selection .pokemon-view{
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: solid 0px #fafafa;
  border-radius: 10px;
  text-align: center;
  width: 33%;
}
.pokemon-view img{
}

.pokemon-one{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  align-items: center;
}
.ready-button{
  margin-top: 15px;
  margin-bottom: 15px;
  height: 50px;
  width: 100%;
  background-color: rgba(20, 0, 0, 1);
  border: solid 1px rgba(255, 170, 0, 0.6);
  border-radius: 10px;
  opacity: 0.95;
  letter-spacing: 2px;
  word-spacing: 1px;
  font-weight: 800;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.ready-button:hover{
  opacity:1;
  border: solid 1px rgba(255, 170, 0, 0.8);
}
@media (max-width: 767px){
  .pokemon-selection{
    flex-direction: column;
    width: 90%;
  }
  .pokemon-selection .pokemon-list-container{
    width: 100%;
  }
  .pokemon-one{
    width: 90%;
  }
  .pokemon-selection .pokemon-view{
    
  }
}
